#font_set
{
    alllevel : 15 16 17 18.5 20;
    chatLevel : 15 16 17 18.5 22 26;
}

/* 主界面 */
#mainframe_table{
    /* 主会话列表项高度 */
    cell_height: 68;
    
    /*顶部offset*/
    cell_headimg_top_margin:9;
    /*headimg size*/
    cell_headimg_size: 50 50;
    /*left margin*/
    cell_headimg_left_margin:10;
    
    /*   用户名fontsize */
    cell_msglabel_textsize:17;
    /*  用户名上边距  */
    cell_msglabel_top_margin:10.5;
    /*  内容下边距  */
    cell_labelmsg_bottom_margin:10.5;
    /*日期右边距*/
    cell_timelabel_right_margin:10;
    /*chatnotpush right margin*/
    cell_chatnotpushimg_right_margin:10;
}
